<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.opendid.web2gateway.repository.mapper.GatewayKeyVaultMapper">
  <resultMap id="BaseResultMap" type="io.opendid.web2gateway.repository.model.GatewayKeyVault">
    <id column="key_id" jdbcType="INTEGER" property="keyId" />
    <result column="service_public_key" jdbcType="VARCHAR" property="servicePublicKey" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="admin_jwt" jdbcType="VARCHAR" property="adminJwt" />
  </resultMap>
  <sql id="Base_Column_List">
    key_id, service_public_key, update_date, admin_jwt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gateway_key_vault
    where key_id = #{keyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gateway_key_vault
    where key_id = #{keyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.opendid.web2gateway.repository.model.GatewayKeyVault">
    insert into gateway_key_vault (key_id, service_public_key, update_date, 
      admin_jwt)
    values (#{keyId,jdbcType=INTEGER}, #{servicePublicKey,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{adminJwt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.opendid.web2gateway.repository.model.GatewayKeyVault">
    insert into gateway_key_vault
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keyId != null">
        key_id,
      </if>
      <if test="servicePublicKey != null">
        service_public_key,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="adminJwt != null">
        admin_jwt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keyId != null">
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="servicePublicKey != null">
        #{servicePublicKey,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminJwt != null">
        #{adminJwt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.opendid.web2gateway.repository.model.GatewayKeyVault">
    update gateway_key_vault
    <set>
      <if test="servicePublicKey != null">
        service_public_key = #{servicePublicKey,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminJwt != null">
        admin_jwt = #{adminJwt,jdbcType=VARCHAR},
      </if>
    </set>
    where key_id = #{keyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.opendid.web2gateway.repository.model.GatewayKeyVault">
    update gateway_key_vault
    set service_public_key = #{servicePublicKey,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      admin_jwt = #{adminJwt,jdbcType=VARCHAR}
    where key_id = #{keyId,jdbcType=INTEGER}
  </update>
</mapper>